body {
	font-family: 'Droid Arabic Naskh', serif;
	font-size: 20px;

}

#img{
	position:fixed;
	width:200px;
	bottom: 0px;
}
 
 #bg {
    width: 35em;
	position: absolute;
	top:45%;
	left: 31%;
	border: 3px solid lightblue;
	border-radius: 15px;


    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-animation: myfirst 5s ; /* Chrome, Safari, Opera */
    animation: myfirst 5s ;
	
  }

  /* Chrome, Safari, Opera */
  @-webkit-keyframes myfirst {
    from {opacity: 0.2;}
    to {opacity: 1;}
  }

  /* Standard syntax */
  @keyframes myfirst {
    from {opacity: 0.2;}
    to {opacity: 1;}
  }
.container{
	border: 3px solid lightblue;
	border-radius: 15px;
	position:absolute;
    top: 37%;
    left: 50%;
    width:30em;
	padding: 8px;
    margin-top: -9em;
    margin-left: -15em;
}

#information {
	margin:20px;
}

.header{
	font-family: 'Noto Sans Gurmukhi UI', sans-serif;
	background-color:lightblue;
	text-align: center;
}

footer {
    background-color:lightblue;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}

.btn-primary{
	background-color:lightblue;
	border-color:lightblue;
	font-size:20px;
	margin-top:5px;
	margin-right:5px;
}
a{
	text-decoration: none;
}
th {
    text-align: right;
}
